<div class="about">
  <h3>About Quiz</h3>
  <div class="abt">
    <ul>
      <li>
        Quiz, a contest in which participants test what they know by answering
        questions on one or more topics.
      </li>
      <li>
        A quiz is a form of game or mind sport in which players attempt to
        answer questions correctly on one or several specific topics.
      </li>
      <li>
        Quizzes can be used as a brief assessment in education and similar
        fields to measure growth in knowledge, abilities, or skills.
      </li>
      <li>
        They can also be televised for entertainment purposes, often in a game
        show format.
      </li>
    </ul>
  </div>
</div>
