<!-- Questions page -->
<div class="container-fluid mb-5 flex align-content-center justify-center">
  <div class="name">
    <span>Welcome {{ name }}</span>
  </div>
  <ng-container *ngIf="!isQuizCompleted">
    <div
      class="container mb-5 bg-transparent px-3 py-4 border rounded-xl border-slate-300 w-full"
    >
      <div class="row w-full">
        <div class="col-12">
          <div class="question mt-6">
            <span
              >Question {{ currentQuestion + 1 }} of
              {{ questionList.length }}</span
            >
            <h3 class="text-xl font-bold" style="color: black">
              {{ questionList[currentQuestion].questionName }}
            </h3>
            <div class="wid">
              <input
                type="radio"
                name="box"
                [value]="questionList[currentQuestion].answer_1"
                id="one"
                (change)="select($event, questionList[currentQuestion].id)"
              />
              <label for="one" class="box first">
                <div class="course">
                  <span class="circle"></span>
                  <span class="subject">
                    {{ questionList[currentQuestion].answer_1 }}
                  </span>
                </div>
              </label>
              <input
                type="radio"
                name="box"
                id="two"
                [value]="questionList[currentQuestion].answer_2"
                (change)="select($event, questionList[currentQuestion].id)"
              />
              <label for="two" class="box second">
                <div class="course">
                  <span class="circle"></span>
                  <span class="subject">
                    {{ questionList[currentQuestion].answer_2 }}
                  </span>
                </div>
              </label>
              <input
                type="radio"
                name="box"
                id="three"
                [value]="questionList[currentQuestion].answer_3"
                (change)="select($event, questionList[currentQuestion].id)"
              />
              <label for="three" class="box third">
                <div class="course">
                  <span class="circle"></span>
                  <span class="subject">
                    {{ questionList[currentQuestion].answer_3 }}
                  </span>
                </div>
              </label>
              <input
                type="radio"
                name="box"
                id="four"
                [value]="questionList[currentQuestion].answer_4"
                (change)="select($event, questionList[currentQuestion].id)"
              />
              <label for="four" class="box forth">
                <div class="course">
                  <span class="circle"></span>
                  <span class="subject">
                    {{ questionList[currentQuestion].answer_4 }}</span
                  >
                </div>
              </label>
            </div>
          </div>

          <!-- Action buttons -->
          <div class="flex justify-between mt-10">
            <div class="container">
              <button
                type="button"
                class="btn"
                (click)="prevQuestion()"
                [disabled]="currentQuestion === 0"
              >
                <i class="fas-pre">< Previous</i>
              </button>
              <button type="button" class="btn" (click)="resetQuiz()">
                <i class="fas-reset"> Reset </i>
              </button>
              <button
                type="button"
                class="btn fas-next"
                (click)="nextQuestion()"
                [disabled]="currentQuestion == questionList.length - 1"
              >
                <i> Next > </i>
              </button>
            </div>
          </div>
          <!-- End of Action buttons  -->
        </div>
      </div>
    </div>
  </ng-container>

  <div class="container">
    <ng-container *ngIf="isQuizCompleted">
      <div class="position-relative justify-content-center">
        <div class="col-md-6 col-sm-12">
          <div>
            <h3 class="text-center font-bold">Congratulations!!</h3>
          </div>

          <div>
            <h3 class="text-center font-bold">You have completed the quiz</h3>
          </div>
          <div class="text-center font-bold">Below is your result:</div>
          <div class="text-center font-bold">
            <p>Total Questions Attempted : {{ questionList.length }}</p>

            <p class="text-center font-bold">
              Your Score : {{ points }} Points
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
